.flex-adult{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.center-container {
    padding: 1em;
    margin: 0.5em auto;
    width: 80%;
    text-align: center;
}

.center-container-form{
    padding: 1em;
    margin: 0.5em auto;
    width: 80%;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

#fes_countdown{
    color: red;
    font-size: 40px;
    font-weight: bold;
}

#exam_countdown{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
